@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  background-color: #fff;
  border-top: 0.2rem solid #6366f2;
  border-bottom: 0.2rem solid #6366f2;
}

.main,
.form-container {
  background-color: #f0f8ff;
  width: 100%;
  height: 100%;
  padding: 0.2rem 0.6rem;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.nav.container {
  display: flex;
  gap: 6px;
}

.nav__tab {
  width: 100%;
  border: none;
  color: #020617;
  background-color: #f0f8ff;
  border-radius: 8px 8px 0px 0px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav__tab--active {
  background-color: #c7d2fe;
}

.nav__tab:hover {
  background-color: #a5b4fc;
}

.content.container {
  position: relative;
}

.content__box {
  display: none;
}

.content__box--show {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 14px;
  background-color: #c7d2fe;
  border-radius: 0px 0px 8px 8px;
  padding: 1rem;
}

.content__forms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.action-buttons.container {
  height: 2.3rem;
  width: 40%;
  position: absolute;
  top: 1.5rem;
  bottom: auto;
  left: auto;
  right: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.action-buttons button {
  color: #fff;
  background-color: #6366f2;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 100%;
}

.action-buttons button:hover {
  color: #6366f2;
  background-color: #fff;
  border: 1px solid #6366f2;
  font-weight: bold;
}
